/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5e2e85;
  --ifm-color-primary-dark: #552978;
  --ifm-color-primary-darker: #502771;
  --ifm-color-primary-darkest: #42205d;
  --ifm-color-primary-light: #673392;
  --ifm-color-primary-lighter: #6c3599;
  --ifm-color-primary-lightest: #7a3cad;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #c9a2f1;
  --ifm-color-primary-dark: #b57fec;
  --ifm-color-primary-darker: #aa6de9;
  --ifm-color-primary-darkest: #8c39e1;
  --ifm-color-primary-light: #ddc5f6;
  --ifm-color-primary-lighter: #e8d7f9;
  --ifm-color-primary-lightest: #ffffff;
}
